* {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana, sans-serif;
	color:#363636;
}


.container {
	width:420px;
	height:100px;
	margin:auto;
	margin-top:80px;
	position:relative;
}

.container p {
	text-align:center;
	margin-bottom:20px;
	font-size:20px;
	font-weight:bold;
}

.box {
	background-color:#f1f1f1;
	width:290px;
	height:40px;
	margin-bottom:5px;
	display:inline-block;
	vertical-align:top;
	border-top:#e2e2e2 2px solid;
	border-radius:5px;
	cursor:
	border-left:none;
	padding-left:10px;
}

.answer {
	width:400px;
	height:30px;
	border-top:none;
	border-bottom:#e2e2e2 2px solid;
	margin-bottom:10px;
	overflow:auto;
	padding-top:10px;
	padding-left:10px;
}

.button {
	width:100px;
	height:30px;
	background:-webkit-linear-gradient(#64f36d 0%, #53cf5c 100%);
	border-radius:5px;
	margin-bottom:5px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	padding-top:10px;
	cursor:pointer;
	border-bottom:#40ae55 2px solid;
}

#de {
	background:-webkit-linear-gradient(#f36464 0%, #cf5353 100%);
	border-bottom:#ae4040 2px solid;
}

.button:hover {
	background:-webkit-linear-gradient(#53cf5c 0%, #64f36d 100%);
	border-bottom:#40ae55 2px solid;
}

#de:hover {
	background:-webkit-linear-gradient(#cf5353 0%, #f36464 100%);
	border-bottom:#ae4040 2px solid;
}

#text {
	color:white;
	font-weight:bold;
	text-shadow:-1px -1px 1px #a6a6a6;
}
